In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# url is the link of the page they provided us
url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=1"
#url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag="
# we need to iterate this for every 1733 pages xD
all_urls = []
#for i in range(1728):
    #url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=" + str(i)
# getting the url on the 'page' variable
page = requests.get(url)
# using soup library and saving the parsed html code in 'soup'
soup = BeautifulSoup(page.text, 'html.parser')
desc = ["price", "piano", "locali", "superficie", "bagni"] # the data of each annoucements

In [5]:
# i noticed that the class name of each insertion is 'descrizione__truncate', then saving them all on text_elem
all_prices = soup.findAll(class_ = "lif__item lif__pricing") # for the prices should be ok but have to take just the integer number from it
#all_piano = soup.findAll(class_ = "text-bold im-abbr")#"lif__text lif--muted")
# locali, superficie and bagni all have the same class name, so we need to iterate somehow over parameters?!
#all_locali = soup.findAll(class_ = "lif__data")
#all_superficie = soup.findAll(class_ = "text-bold")
#all_bagni = soup.findAll(class_ = "lif__data")

In [2]:
locali = superficie = bagni = piano = False

In [64]:
nr_bagni = nr_piano = []

In [8]:
all_ann = soup.findAll(class_ = "listing-item_body--content")#listing-item vetrina js-row-detail") #creating list containing all the page's announcements

In [22]:
for ann in all_ann: # for each announcement
    for tag in ann.descendants: # we check in each announcement's children tag
        if tag.name == "li" and "lif__pricing" in tag['class']:
            price = tag.string # on price variable we save the price amount, need to extract only the amount (using regex)
#print(price.strip())€ 315.000

In [65]:
nr_locali = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "locali":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    locali = x.string
                                    nr_locali.append(locali)
    
print(nr_locali)

['1-5\xa0', '2\xa0', '4\xa0', '5+\xa0', '5+\xa0', '5\xa0', '5+\xa0', '4\xa0', '5+\xa0', '5+\xa0', '3\xa0', '3\xa0', '2\xa0', '2\xa0', '5+\xa0', '4\xa0', '5+\xa0', '5+\xa0', '3\xa0', '3\xa0', '4\xa0', '3\xa0', '5+\xa0', '5+\xa0', '3\xa0']

In [66]:
nr_superficie = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "superficie":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    superficie = x.string
                                    nr_superficie.append(superficie)
print(nr_superficie)

['46', '50', '130', '220', '500', '170', '190', '150', '300', '193', '90', '190', '58', '55', '392', '110', '204', '145', '100', '87', '90', '50', '270', '180', '92']

In [62]:
print(nr_locali)

['1-5\xa0', '2\xa0', '4\xa0', '5+\xa0', '5+\xa0', '5\xa0', '5+\xa0', '4\xa0', '5+\xa0', '5+\xa0', '3\xa0', '3\xa0', '2\xa0', '2\xa0', '5+\xa0', '4\xa0', '5+\xa0', '5+\xa0', '3\xa0', '3\xa0', '4\xa0', '3\xa0', '5+\xa0', '5+\xa0', '3\xa0', '46', '50', '130', '220', '500', '170', '190', '150', '300', '193', '90', '190', '58', '55', '392', '110', '204', '145', '100', '87', '90', '50', '270', '180', '92']

In [18]:
#soup.findAll("lif__data")
dv = soup.findAll("div", { "class" : "lif__data" })
print(dv[2])

<div class="lif__data">4
<svg class="icon-svg" height="16" width="16">
<use xlink:href="#rooms"></use>
</svg></div>

In [40]:
# creating empty list where we're gonna save all the insertion prices
all_apartments_prices = []
all_apartments_piano = []
# loop used to append single price to the list
for price in all_prices:
    all_apartments_prices.append(price.text)
for piano in all_piano:
    all_apartments_piano.append(piano.text)

# dunno if everything is correct coz we need to create a matrix with the words the asked

In [17]:
# just taking the nr of announcements of page1
page1_insertions = len(all_apartments_prices)

In [25]:
# creating df for page1 announcements
df = pd.DataFrame(index = range(page1_insertions), columns = desc)

In [33]:
df["price"] = all_apartments_prices
df["piano"] = all_apartments_piano

ValueError: Length of values does not match length of index

In [28]:
df

,price,piano,locali,superfice,bagni
0,da € 192.000\n,NaN,NaN,NaN,NaN
1,\n € 225.000\n,NaN,NaN,NaN,NaN
2,\n € 520.000\n,NaN,NaN,NaN,NaN
3,\n € 579.000\n,NaN,NaN,NaN,NaN
4,\n € 1.380.000\n ...,NaN,NaN,NaN,NaN
5,\n € 450.000\n,NaN,NaN,NaN,NaN
6,€ 159.000€ 169.000(-5.9%),NaN,NaN,NaN,NaN
7,\n € 229.000\n,NaN,NaN,NaN,NaN
8,\n € 950.000\n,NaN,NaN,NaN,NaN
9,\n € 199.000\n,NaN,NaN,NaN,NaN
10,\n € 289.000\n,NaN,NaN,NaN,NaN
11,\n € 215.000\n,NaN,NaN,NaN,NaN
12,\n € 895.000\n,NaN,NaN,NaN,NaN
13,\n € 1.499.000\n ...,NaN,NaN,NaN,NaN
14,\n € 720.000\n,NaN,NaN,NaN,NaN
15,€ 139.000€ 149.000(-6.7%),NaN,NaN,NaN,NaN
16,€ 139.000€ 149.000(-6.7%),NaN,NaN,NaN,NaN
17,\n € 235.000\n,NaN,NaN,NaN,NaN
18,\n € 1.050.000\n ...,NaN,NaN,NaN,NaN
19,\n € 695.000\n,NaN,NaN,NaN,NaN
20,\n € 849.000\n,NaN,NaN,NaN,NaN
21,\n € 370.000\n,NaN,NaN,NaN,NaN
22,\n € 169.000\n,NaN,NaN,NaN,NaN
23,\n € 850.000\n,NaN,NaN,NaN,NaN
24,\n € 1.050.000\n ...,NaN,NaN,NaN,NaN