In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# url is the link of the page they provided us
url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=1"
#url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag="
# we need to iterate this for every 1733 pages xD
all_urls = []
#for i in range(1728):
    #url = "https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=" + str(i)
# getting the url on the 'page' variable
page = requests.get(url)
# using soup library and saving the parsed html code in 'soup'
soup = BeautifulSoup(page.text, 'html.parser')
desc = ["price", "piano", "locali", "superficie", "bagni"] # the data of each annoucements

In [5]:
# i noticed that the class name of each insertion is 'descrizione__truncate', then saving them all on text_elem
all_prices = soup.findAll(class_ = "lif__item lif__pricing") # for the prices should be ok but have to take just the integer number from it
#all_piano = soup.findAll(class_ = "text-bold im-abbr")#"lif__text lif--muted")
# locali, superficie and bagni all have the same class name, so we need to iterate somehow over parameters?!
#all_locali = soup.findAll(class_ = "lif__data")
#all_superficie = soup.findAll(class_ = "text-bold")
#all_bagni = soup.findAll(class_ = "lif__data")

In [2]:
locali = superficie = bagni = piano = False

In [64]:
nr_bagni = nr_piano = []

In [8]:
all_ann = soup.findAll(class_ = "listing-item_body--content")#listing-item vetrina js-row-detail") #creating list containing all the page's announcements

In [121]:
nr_prices = []
for ann in all_ann: # for each announcement
    for tag in ann.descendants: # we check in each announcement's children tag
        if tag.name == "li" and "lif__pricing" in tag['class']:
            price = tag.string # on price variable we save the price amount, need to extract only the amount (using regex)
            if price is None:
                continue
            else:
                nr_prices.append(price)

In [99]:
nr_locali = [] 
nr_piani = []
nr_superficie = []
nr_bagni = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "locali":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    locali = x.string
                                    nr_locali.append(locali)
                        if c.string == "superficie":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    superficie = x.string
                                    nr_superficie.append(superficie)
                        if c.string == "bagni":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    bagni = x.string
                                    nr_bagni.append(bagni)
                        if c.string == "piano":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "abbr":
                                    piano = x["title"]
                                    nr_piani.append(piano)

In [66]:
"""nr_superficie = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "superficie":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    superficie = x.string
                                    nr_superficie.append(superficie)
print(nr_superficie)"""

['46', '50', '130', '220', '500', '170', '190', '150', '300', '193', '90', '190', '58', '55', '392', '110', '204', '145', '100', '87', '90', '50', '270', '180', '92']

In [67]:
"""nr_bagni = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "bagni":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "span":
                                    bagni = x.string
                                    nr_bagni.append(bagni)"""

In [79]:
"""nr_piani = []
for ann in all_ann: # for each announcement
    for tag in ann.children: # we check in each announcement's children tag
        if tag.name == "ul" and "listing-features" in tag["class"]:
            for child in tag.children:
                if child.name == "li" and "lif__item" in child["class"]:
                    for c in child.children:
                        if c.string == "piano":
                            prev = c.previousSibling
                            for x in prev.contents:
                                if x.name == "abbr":
                                    piano = x["title"]
                                    nr_piani.append(piano)"""

In [83]:
# just taking the nr of announcements of page1
page1_insertions = len(all_ann)

In [84]:
# creating df for page1 announcements
df = pd.DataFrame(index = range(page1_insertions), columns = desc)

In [93]:
df["price"] = nr_prices
df["superficie"] = nr_superficie
df["locali"] = nr_locali
#df["bagni"] = nr_bagni
#df["piano"] = nr_piani

In [94]:
df

,price,piano,locali,superficie,bagni
0,None,NaN,1-5,46,NaN
1,€ 225.000,NaN,2,50,NaN
2,€ 359.000,NaN,4,130,NaN
3,€ 800.000,NaN,5+,220,NaN
4,€ 3.400.000,NaN,5+,500,NaN
5,€ 950.000,NaN,5,170,NaN
6,€ 1.090.000,NaN,5+,190,NaN
7,€ 2.150.000,NaN,4,150,NaN
8,€ 2.500.000,NaN,5+,300,NaN
9,€ 650.000,NaN,5+,193,NaN
10,€ 680.000,NaN,3,90,NaN
11,€ 219.000,NaN,3,190,NaN
12,€ 115.000,NaN,2,58,NaN
13,€ 259.000,NaN,2,55,NaN
14,€ 1.390.000,NaN,5+,392,NaN
15,€ 189.000,NaN,4,110,NaN
16,€ 850.000,NaN,5+,204,NaN
17,€ 720.000,NaN,5+,145,NaN
18,€ 349.000,NaN,3,100,NaN
19,€ 269.000,NaN,3,87,NaN
20,€ 239.000,NaN,4,90,NaN
21,€ 125.000,NaN,3,50,NaN
22,€ 1.599.000,NaN,5+,270,NaN
23,€ 670.000,NaN,5+,180,NaN
24,€ 315.000,NaN,3,92,NaN